@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  font-family 'Roboto', sans-serif
  ul
    list-style-type none
    margin 0px
    padding 0px
    li
      width 120px
      height 119px
      float left
      background ColorRed
      margin 0.5px
      position relative
      .poradi
        position absolute
        top 9px
        left 0px
        font-size 22px
        text-align center
        float left
        width 100%
        line-height @height
        color white
        font-weight 900
      .turne
      .svetovy
      .note
        color white
        position absolute
        width 100%
        left 0px
        text-align center
      .turne
        top 18px
      .svetovy
        bottom 4px
        opacity 0.8
      .year
        display none
      .note
        font-size 12px
        line-height 12px
        opacity 0.7
        font-weight 300
      .turne-note
        top 4px
      .poradi-note
        top 39px
      .svetovy-note
        bottom 24px

